{% extends 'base.html.twig' %}

{% block title %}Video Transcoder{% endblock %}

{% block stylesheets %}
    <link href="https://releases.transloadit.com/uppy/v3.21.0/uppy.min.css" rel="stylesheet">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="https://releases.transloadit.com/uppy/v3.21.0/uppy.min.js"></script>
    {{ parent() }}
{% endblock %}


{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to Video Transcoder!</h1>
            <p class="col-md-8 fs-4">This is a simple video transcoding service.</p>
            <hr class="my-4">
            {% if app.user %}
                <p>You are logged in as <strong>{{ app.user.userIdentifier }}</strong>.</p>

                <div id="drag-drop-area"></div>
                <script>
                    function uuidv4() {
                        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                            const r = crypto.getRandomValues(new Uint8Array(1))[0] & 15;
                            const v = c === 'x' ? r : (r & 0x3 | 0x8);
                            return v.toString(16);
                        });
                    }

                    const allowedExtensions = ['mp4', 'mkv', 'avi', 'mov'];

                    const uppy = new Uppy.Uppy({
                        debug: true,
                        autoProceed: true,
                        restrictions: {
                            allowedFileTypes: allowedExtensions.map(ext => '.' + ext)
                        }
                    })
                        .use(Uppy.Dashboard, {
                            inline: true,
                            target: '#drag-drop-area',
                            proudlyDisplayPoweredByUppy: false
                        })
                        .use(Uppy.Tus, {
                            endpoint: '{{ path('tus') }}',
                            chunkSize: 5 * 1024 * 1024,
                            retryDelays: [0, 1000, 3000, 5000],
                        });

                    uppy.on('file-added', (file) => {
                        const uuid = uuidv4();
                        const ext = file.name.split('.').pop().toLowerCase();

                        uppy.setFileMeta(file.id, {
                            name: uuid + '.' + ext,
                            originalName: file.name
                        });
                    });

                    uppy.on('complete', (result) => {
                        console.log('Upload complete');
                        // В result.successful[0].uploadURL будет ссылка на ресурс
                        console.log(result);
                    });
                </script>
            {% else %}
                <p>Please <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg">Sign in</a> to manage your videos.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
