{% extends 'base.html.twig' %}

{% block title %}Video Transcoder{% endblock %}

{% block stylesheets %}
    <link href="https://releases.transloadit.com/uppy/v3.21.0/uppy.min.css" rel="stylesheet">

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="https://releases.transloadit.com/uppy/v3.21.0/uppy.min.js"></script>

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container py-5">
        {% if app.user %}
            <div
                id="home-spa"
                data-user-identifier="{{ app.user.userIdentifier|e('html_attr') }}"
                data-api-bearer-token="{{ apiAccessToken|default('')|e('html_attr') }}"
                data-api-upload-url="{{ path('api_tus')|e('html_attr') }}"
                data-api-video-list-url="{{ path('api_video_list')|e('html_attr') }}"
                data-api-task-list-url="{{ path('api_task_list')|e('html_attr') }}"
                data-video-details-url-template="{{ path('video_details', {'uuid': '__UUID__'})|e('html_attr') }}"
                data-task-download-url-template="{{ path('task_download', {'id': '__TASK_ID__'})|e('html_attr') }}"
            ></div>

        {% else %}
            <p>Please <a href="{{ path('app_login') }}" class="btn btn-primary">Sign in</a>.</p>
        {% endif %}
    </div>


{% endblock %}
