{% extends 'base.html.twig' %}

{% block title %}Video Details{% endblock %}

{% block body %}
    {% set dummyVideoId = '11111111-1111-4111-8111-111111111111' %}
    {% set dummyPresetId = '22222222-2222-4222-8222-222222222222' %}
    {% set dummyTaskId = '33333333-3333-4333-8333-333333333333' %}
    <div
        id="video-details-spa"
        data-user-identifier="{{ app.user ? app.user.userIdentifier|e('html_attr') : '' }}"
        data-user-id="{{ userId|default('')|e('html_attr') }}"
        data-api-bearer-token="{{ apiAccessToken|default('')|e('html_attr') }}"
        data-mercure-hub-url="{{ mercureHubUrl|default('')|e('html_attr') }}"
        data-mercure-topic="{{ mercureTopic|default('')|e('html_attr') }}"
        data-mercure-subscriber-token="{{ mercureSubscriberToken|default('')|e('html_attr') }}"
        data-api-upload-url="{{ path('api_tus')|e('html_attr') }}"
        data-api-video-list-url="{{ path('api_video_list')|e('html_attr') }}"
        data-api-task-list-url="{{ path('api_task_list')|e('html_attr') }}"
        data-api-video-details-url-template="{{ path('api_video_details', {'id': dummyVideoId})|replace({(dummyVideoId): '__UUID__'})|e('html_attr') }}"
        data-api-video-transcode-url-template="{{ path('api_video_transcode', {'id': dummyVideoId, 'presetId': dummyPresetId})|replace({(dummyVideoId): '__UUID__', (dummyPresetId): '__PRESET_ID__'})|e('html_attr') }}"
        data-api-video-delete-url-template="{{ path('api_video_delete', {'id': dummyVideoId})|replace({(dummyVideoId): '__UUID__'})|e('html_attr') }}"
        data-api-video-patch-url-template="{{ path('api_video_patch', {'id': dummyVideoId})|replace({(dummyVideoId): '__UUID__'})|e('html_attr') }}"
        data-api-task-cancel-url-template="{{ path('api_task_cancel', {'id': dummyTaskId})|replace({(dummyTaskId): '__TASK_ID__'})|e('html_attr') }}"
        data-video-details-url-template="{{ path('video_details', {'uuid': dummyVideoId})|replace({(dummyVideoId): '__UUID__'})|e('html_attr') }}"
        data-task-download-url-template="{{ path('task_download', {'id': dummyTaskId})|replace({(dummyTaskId): '__TASK_ID__'})|e('html_attr') }}"
        data-home-url="{{ path('app_home')|e('html_attr') }}"
        data-video-uuid="{{ uuid|e('html_attr') }}"
    ></div>
{% endblock %}
